@using OdeToFood.Models
@model Restaurant

<h1>Create</h1>

<form method="post">
   
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" />
    <span asp-validation-for="Name"></span><br />

    <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()">
        
    </select><br />

    <input type="submit" name="Save" value="Save" />
</form>
<div asp-validation-summary="All"></div>
